.window {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-animation-name: "src"; /*检索或设置对象所应用的动画名称*/
    -webkit-animation-duration: 30s; /*检索或设置对象动画的持续时间*/
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes "src" {  /*动画名称和上面设置的动画名称一样*/
    /*下面是动画过程*/
    0% {
        background: url(./src/1.png) no-repeat;
    }

    50% {
        background: url(./src/2.png) no-repeat;
    }

    100% {
        background: url(./src/3.png) no-repeat;
    }
}

.frame {
    background-color: rgba(219, 225, 231, 0.7);
    width: 25rem;
    height: 43.75rem;
    margin: 0 auto;
    border-radius: 0.625rem;
}

.frame .output {
    height: 10rem;
    padding-top: 2.5rem;
}

.frame .output .output-item1 {
    height: 3.75rem;
    line-height: 3.75rem;
    width: 21.25rem;
    padding: 0 1.875rem;
    text-align: right;
    font-size: 1rem;
    color: rgb(104, 108, 108);
}

.frame .output .output-item2 {
    height: 6.25rem;
    line-height: 6.25rem;
    width: 21.25rem;
    padding: 0 1.875rem;
    text-align: right;
    font-size: 2.875rem;
    font-weight: bolder;
}

.frame .input {
    height: 31.25rem;
}

.frame .input .row {
    height: 6.25rem;
    /*border: 1px inset black;*/
    font-size: 0;
}

.frame .input .first .colum {
    /*margin-top: 4px;*/
}

.frame .input .row .first {
    margin-left: 0.25rem;
}

.frame .input .row .colum {
    font-size: 1.75rem;
    text-align: center;
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    width: 5.9375rem;
    height: 5.9375rem;
    line-height: 5.9375rem;
    box-shadow: 0.166rem 0.166rem 0.333rem #686c6c;
    border-radius: 0.625rem;
    position: relative;
    z-index: 0;
    background-color: #fbfcfc;

    /*文本不可选*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.frame .input .row .colum::before {
    border-radius: 0.625rem;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;

    /*渐变背景*/
    background: #ee9ca7;
    background: -webkit-linear-gradient(60deg, #ffdde1, #ee9ca7);
    background: linear-gradient(60deg, #ffdde1, #ee9ca7);

    /*过渡动画*/
    transition: opacity .6s;
    -webkit-transition: opacity .6s;
}

.frame .input .row .colum:hover::before {
    opacity: .5;
}

.frame .input .row .colum:active {
    width: 5.9375rem !important;
    height: 5.9375rem !important;
    box-shadow: 0 0 3px #686c6c inset;
}

